PORT=5000
DATABASE_URL="postgresql://username:password@localhost:5432/si_peka?schema=public"
JWT_SECRET="your_jwt_secret_key"

# Azure Storage Variables (Kosongkan jika ingin menggunakan penyimpanan lokal/Docker volume)
AZURE_STORAGE_CONNECTION_STRING=""
AZURE_STORAGE_CONTAINER_NAME="reports"
CDN_URL=""
